.main {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

.icon {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 3;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    min-height: 100vh;
}

@media (min-width: 768px) {
    .icon {
        display: none;
    }

    .wrapper {
        padding: 0 80px;
    }
}
